/* common shared styles */
/* common fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    width: 180px;
    height: 60px;
    padding: 20px;
}

main {
    max-width: 1440px;
    margin: 0px auto;
}

/* header styling */
header {
    background: rgba(255, 144, 14, 0.10);
    margin-bottom: 85px;
}

/* nav styling start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 230px;
}

nav>ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 1.13rem;
    font-weight: 500;
}

.header-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-list {
    width: 477px;
}

/* nav styling end */

/* header banner styling start */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content-container {
    margin-bottom: 50px;
}

.banner-content {
    width: 862px;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 20px;
    margin: 0px;
}

.banner-description {
    color: #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    bottom-margin: 32px;

}

#btn-width {
    margin-left: 300px;
    margin-bottom: 50px;
}

.banner-img {
    padding-bottom: 45px;
}

/* teams section styling */

.teams {
    display: flex;
    align-items: center;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

.team-description {
    padding-left: 70px
}

.quick {
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
}

.our {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    width: 468px;
}

.features {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

.team-content {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* facts section */
.facts-container {
    padding-top: 150px;
}

.facts-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.facts-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    width: 542px;
    margin-bottom: 100px;

}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
}

.card-container .card {
    text-align: center;
    padding: 30px 50px;
}

.card .card-stat {
    margin-top: 10px;
}

/* sponsors section */

.sponsors {
    text-align: center;
}

.sponsors-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}

.sponsors-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-image {
    display: flex;
    justify-content: space-evenly;
}

/* footer section */

.footer-des {
    color: #424242;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 130px;
    padding: 35px 140px;
    border-radius: 8px;
    background: #FFF4E7;
    width:1440px;
    height: 100px;
    margin: 130px 240px;
}

/* design for mobile and small devices */
@media screen and (max-width: 576px) {

    * {
        width: 100%;
    }

    nav {
        flex-direction: column;
        padding: 30px;
    }

    .nav-list {
        width: 100%;
    }

    .banner-content {
        width: 100%;
    }

    #btn-width {
        margin-left: 170px;
    }

    header img {
        width: 100%;
        height: auto;
    }

    .nav-list {
        padding: 0px;
    }

    .teams {
        flex-direction: column;
    }

    .teams-img {
        display: flex;
        flex-direction: column;
    }
}

/* design for pad and medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    .banner-description {
        width: 90%;
        padding-left: 30px;
    }

    nav {
        flex-direction: column;
        padding: 50px;
    }

    #btn-width {
        margin-left: 200px;
    }

    header img {
        width: 100%;
        height: auto;
    }

    .teams {
        flex-direction: column;
    }

    .team-description {
        padding-top: 40px;
        text-align: center;
    }
}